<header class="container">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://bulma.io">
        <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox"
             width="112" height="28">
      </a>

      <div class="navbar-burger burger" data-target="navMenuTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item " routerLink="/dashboard" routerLinkActive="active">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">

          <a class="navbar-link  is-active" href="">
            Menu
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item " routerLink="/lancamentos/lista" routerLinkActive="active">Lista</a>
            <a class="navbar-item " routerLink="/lancamentos/adicionar" routerLinkActive="active">Adicionar</a>
          </div>
        </div>

      </div>

      <div class="navbar-end">
        <a class="navbar-item is-hidden-desktop-only" href="https://github.com/jgthms/bulma" target="_blank">
          Login
        </a>
        <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/jgthms" target="_blank">
          Cadastro
        </a>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
